<!DOCTYPE html>
<html class="no-js" lang="'en">

<!--head-->
<%- include('./partials/head.ejs') %>
<!--head end-->

<body>
    <!-- header-area-->
    <%- include ('./partials/header.ejs')%>
    <!--header end-->

    <!-- search page -->
    <main>
        <section class="latest-post-area pb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">
                                        <h3 class="section__main-title">Search Results</h3>
                                    </div>
                                </div>

                            </div>
                        </div>

                       
                        <% post.forEach ((post)=>{%>

                        <!-- individual post -->
                         <!-- individual post -->
                         <div class="latest__post-wrap">
                            <div class="latest__post-item" style="display: flex;">
                                <div class="latest__post-thumb tgImage__hover">
                                    <a href="">
                                        <img src="<%= post.image %>" alt="img">
                                    </a>
                                </div>
                                <div class="latest__post-content">
                                    <ul class="tgbanner__content-meta list-wrap">
                                        <li class="category">technology</li>
                                        <li>nov 22, 2022</li>
                                    </ul>
                                    <h3 class="title tgcommon__hover">
                                        <a href="/posts<%= post.id %>">
                                           <%= post.title %>
                                        </a>
                                    </h3>
                                    <p>
                                        <%= post.description %>
                                    </p>
                                   
                                </div>
                            </div>

                        </div>
                        <% }) %>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- search page -->
      <!--footer-->
      <%- include ('./partials/footer.ejs')%>
      <!--footer end-->
</body>
</html>